{% extends 'poonam/layout.html' %}

{% block body %}
<div class="contact">
    <div class="container">
         <div class="contact-form">
            <h3 class="tittle">Add Room Type</h3>
            {% if message %}
                <div class="alert-danger p-3 mt-2 mb-3">{{message}}</div>
            {% endif %}
            <form action="{% url 'add_room_type' %}" method="post">
                {% csrf_token %}
                <input type="text" name="type" required minlength="3">
                 <input type="submit" value="Add Room Type">
             </form>
        </div>
     </div>
 </div>       
{% endblock %}