{% extends 'poonam/laout.html' %}

{% block body%}
<div class="contact">
    <div class="container">
        <div class="contact-form">
            <h3 class="tittle">Edit Floor</h3>
            <form action="{% url 'edit_floor'}" method="post">
                {% csrf_token %}
                <input type="text" placeholder="Floor Name" name="edit_floor" value="{{singleFloor.floor_name}}">
                <br>
                <input type="text" placeholder="Password" name="password">
                <input type="submit" value="Add Floor">
            </form>
        </div>
    </div>
</div>        
{% endbody%}