{% extends 'poonam/layout.html' %}


{% block body %}
    {% if message %}
    <div class="alert-danger">
        {{message}}
    </div>
    {% endif %}
    <form action="{% url 'edit_room' rooms_information.id  %}" method="post">
        {% csrf_token %}
        <select name="floors" id="">
            {% for i in floors %}
                <option value="{{i.id}}">{{i.floor_name}}</option>
            {% endfor %}
        </select>

        <select name="types" id="">
            {% for i in types %}
                <option value="{{i.id}}">{{i.type_name}}</option>
            {% endfor %}
        </select>
        <input type="number" name="no" value="{{rooms_information.room_no}}" required placeholder="enter room no" min="1">
        <input type="number" name="cost" value="{{rooms_information.cost}}" required placeholder="enter room cost" min="100">
        <!-- <input type="text" name="availibility" required> -->
        <label for="">Room Availibility</label>
        <input type="checkbox" value="{{rooms_information.availibility}}"  name="avail" >
        <input type="submit" value="Edit Room">
    </form>
{% endblock %}